@model IEnumerable<Product>

@{
    ViewData["Title"] = "Catalogue";
}

<div class="mt-5 mb-5 d-flex flex-row justify-content-between">
    <h1>Catalogue</h1>

    <div class="search-bar d-inline-flex align-items-center ">
       @* <form method="get" asp-action="Index">
            <label class="w-40">Catégorie</label>
            <input type="text" name="term" placeholder="rechercher ...">
            <button type="submit"><i class="fa fa-search"></i></button>
            <a class="btn btn-default" href="/Home/Index">Tout voir</a>
        </form>*@
        <div class="me-auto p-2"><i class="bi bi-funnel"></i></div>

        <select class="form-select" aria-label="Default select example">
            <option asp-controller="Home" asp-action="Index" selected>Tout voir</option>
            @foreach (var item in Model)
            {
                <option asp-for="Category">@item.Category.Label</option>
            }
        </select>
    </div>
</div>


<div class="mt-5 mb-3 row row-cols-1 row-cols-md-4 g-4 justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <img src="@item.Image" class="card-img-top" width="128" height="128">
              
                <div class="card-body">
                    <h4>@item.Title</h4>
                    <p class="badge bg-primary">@item.Category.Label</p>
                    <p>@item.Description</p>
                </div>

                <div class="card-footer d-flex align-items-center justify-content-between">
                    @if (@item.Offer.Percentage != 0)
                    {
                        <p class="mb-0 text-decoration-line-through">@item.Price €</p>

                        <p class="mb-0 fw-bold text-danger">@item.Price €</p>

                        <div class="d-flex align-items-center justify-content-between">
                            <img width="24" height="24" src="https://img.icons8.com/external-victoruler-outline-victoruler/64/external-promotion-food-and-delivery-victoruler-outline-victoruler.png" alt="external-promotion-food-and-delivery-victoruler-outline-victoruler" />
                            <p class="mb-0">@item.Offer.Percentage %</p>
                        </div>
                    }
                    else {
                        <p class="mb-0">@item.Price €</p>
                    }
                </div>
            </div>
        </div>
    }
</div>
