@*@model IEnumerable<Product>*@
@*@model Product*@
@model MercadonaStudi.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Catalogue";
}

<div class="mt-5 mb-5 d-flex flex-row justify-content-between">
    <h1>Catalogue</h1>

    <div class="search-bar">
        <form asp-controller="Home" asp-action="Index" method="post" class="d-flex justify-content-around align-items-center">
            <div class="form-group p-2">
                <label asp-for="Category.Id" class="control-label" hidden></label>
                <select asp-for="Category.Id" asp-items="ViewBag.Categories" class="form-select">
                    @*<option selected class="fw-light text-body-secondary">Sélectionner une catégorie </option>*@
                    <option selected>Tout voir </option>
                </select>
                
            </div>
            <div class="form-group p-2">
                <button id="input-container">
                    <i class="bi bi-funnel"></i>
                    <input type="submit" value="Filtrer">
                </button>
            </div>
            
            @*<div id="input-container" class="form-group d-inline-flex btn btn-outline-success input_hover_white">
            <i class="bi bi-funnel me-1"></i>
            <input type="submit" value="Filtrer" class="bi bi-funnel border-0 bg-transparent btn-outline-success input_hover_white">
            </div>*@
        </form>

       @* <form method="get" asp-action="Index">
            <label class="w-40">Catégorie</label>
            <input type="text" name="term" placeholder="rechercher ...">
            <button type="submit"><i class="fa fa-search"></i></button>
            <a class="btn btn-default" href="/Home/Index">Tout voir</a>
        </form>*@
        

        @*<select class="form-select" aria-label="Default select example">
            <option asp-controller="Home" asp-action="Index" selected>Tout voir</option>
            @foreach (var item in Model)
            {
                <option asp-for="Category">@item.Category.Label</option>
            }
        </select>*@
        @*<div class="form-group p-2">
            <label asp-for="Category.Label" class="control-label"></label>
            @*<input asp-for="Category.Label" type="text" class="form-control">
            <select asp-for="Category.Label" asp-items="Category.Label" class="form-select">
            <option selected>Sélectionner une catégorie</option>
            </select>
            <span asp-validation-for="Category.Label" class="text-danger"></span>
        </div>*@


        @*@if (Model != null && Model.Categories.Any())
        {*@
            @*foreach (var category in Model.Categories)
            {
                <li>

                    <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="List" asp-route-id="@category.Id">

                        @category.Label

                    </a>

                </li>
            }*@
        @*}*@
        

        @*<div class="form-group p-2">
            <label asp-for="Category.Id" class="control-label">Catégorie</label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
                <option selected class="fw-light text-body-secondary">Sélectionner une catégorie </option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>*@
    </div>
</div>


<div class="mt-5 mb-3 row row-cols-1 row-cols-md-4 g-4 justify-content-center">
    @foreach (var item in Model.Products)
    {
        <div class="col">
            <div class="card">
                <img src="@item.Image" class="card-img-top" width="128" height="128">
              
                <div class="card-body">
                    <h4>@item.Title</h4>
                    <p class="badge bg-primary">@item.Category.Label</p>
                    <p>@item.Description</p>
                </div>

                <div class="card-footer d-flex align-items-center justify-content-between">
                    @if (@item.Offer.Percentage == 0)
                    {
                        <p class="mb-0">@item.Price €</p>
                    }
                    else
                    {
                        <p class="mb-0 text-decoration-line-through">@item.Price €</p>

                        <p class="mb-0 fw-bold text-danger">@item.DiscountedPrice €</p>

                        <div class="d-flex align-items-center justify-content-between">
                            <img width="24" height="24" src="https://img.icons8.com/external-victoruler-outline-victoruler/64/external-promotion-food-and-delivery-victoruler-outline-victoruler.png" alt="external-promotion-food-and-delivery-victoruler-outline-victoruler" />
                            <p class="mb-0">@item.Offer.Percentage %</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>