@model MercadonaStudi.ViewModels.SelectListViewModel

@{
    ViewData["Title"] = "Catalogue";
    Layout = "_Layout";
}

<div class="mt-5 mb-5 d-flex justify-content-evenly flex-wrap">
    <div class="d-flex border-start border-bottom border-success-subtle ps-2 pt-0">
        <span class="border-start border-success pt-2 p-0"></span>
        <h1 class="border-bottom border-success p-1">Catalogue</h1>
    </div>

    <div class="search-bar">
        <form asp-controller="Home" asp-action="Index" method="post" class="d-flex justify-content-around align-items-center">
            <div class="form-group p-2">
                <label asp-for="Category.Id" class="control-label" hidden></label>
                <select asp-for="Category.Id" asp-items="ViewBag.Categories" class="form-select">
                    <option selected class="fw-light text-body-secondary">Tout voir </option>
                </select>
            </div>

            <div class="form-group p-2">
                <button id="input-container">
                    <i class="bi bi-funnel"></i>
                    <input type="submit" value="Filtrer">
                </button>
            </div>
        </form>
    </div>
</div>

<div class="mt-5 mb-3 row row-cols-1 row-cols-md-4 g-4 justify-content-center">
    @foreach (var item in Model.Products)
    {
        <div class="col">
            <div class="card">
                <img src="@item.Image" class="card-img-top" width="128" height="128">
              
                <div class="card-body">
                    <h4>@item.Title</h4>
                    <p class="badge bg-success">@item.Category.Label</p>
                    <p>@item.Description</p>
                </div>

                <div class="card-footer d-flex align-items-center justify-content-between">
                    @if (@item.Offer.Percentage == 0)
                    {
                        <p class="mb-0">@item.Price €</p>
                    }
                    else
                    {
                        <p class="mb-0 text-decoration-line-through">@item.Price €</p>

                        <p class="mb-0 fw-bold text-danger">@item.DiscountedPrice €</p>

                        <div class="d-flex align-items-center justify-content-between">
                            <img width="24" height="24" src="https://img.icons8.com/external-victoruler-outline-victoruler/64/external-promotion-food-and-delivery-victoruler-outline-victoruler.png" alt="external-promotion-food-and-delivery-victoruler-outline-victoruler" />
                            <p class="mb-0">@item.Offer.Percentage %</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>