@model IEnumerable<Category>

@{
    ViewData["Title"] = "Catégories";
    Layout = "_Layout";
}

<div class="container-fluid container-md">
    <div class="mt-5 mb-5 d-flex flex-row justify-content-between align-items-center">
        <a asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left-circle" style="font-size: 1.5rem; color: green"></i></a>
        
        <h1 class="me-auto p-2">Catégories</h1>
        
        <div>
            <a asp-controller="Categories" asp-action="Create" class="btn btn-outline-success"><i class="bi bi-plus-circle"></i> Ajouter une catégorie</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Label)</th>
                        <th></th>
                    </tr>
                </thead>
       
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">@item.Label</td>

                            @if(item.Label == "Fruits" || item.Label == "Légumes")
                            {
                                <td class="d-flex justify-content-end">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary m-2 disabled"><i class="bi bi-pencil-square"></i> Modifier</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-secondary m-2 disabled"><i class="bi bi-trash"></i> Supprimer</a>
                                </td>
                            } else {
                                <td class="d-flex justify-content-end">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning m-2"><i class="bi bi-pencil-square"></i> Modifier</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger m-2"><i class="bi bi-trash"></i> Supprimer</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
