@model IEnumerable<Product>

@{
    ViewData["Title"] = "Produits";
    Layout = "_Layout";
}

<div class="container-fluid container-md">
    <div class="mt-5 mb-5 d-flex flex-row justify-content-between align-items-center">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left-circle" style="font-size: 1.5rem; color: green"></i></a>

        <h1 class="me-auto p-2">Produits</h1>

        <div>
            <a class="btn btn-outline-success" asp-area="" asp-controller="Products" asp-action="Create"><i class="bi bi-plus-circle"></i> Ajouter un produit</a>
        </div>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Category.Label)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Offer.Percentage)</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Title)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Category.Label)</td>
                        <td class="align-middle">@Html.DisplayFor(modelItem => item.Description)</td>
                        <td class="align-middle"><img class="rounded-circle" src="@item.Image" alt="@item.Title" style="max-width: 50px" /></td>

                        @if (@item.Offer.Percentage == 0)
                        {
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.Price)</td>

                            <td class="align-middle">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">
                                    <img width="24" height="24" src="https://img.icons8.com/external-victoruler-outline-victoruler/64/external-promotion-food-and-delivery-victoruler-outline-victoruler.png" alt="external-promotion-food-and-delivery-victoruler-outline-victoruler"/>
                                    Ajouter une promotion
                                </a>
                            </td>
                        }
                        else {
                            <td>
                                <p class="text-decoration-line-through">@Html.DisplayFor(modelItem => item.Price)</p>
                                <p class="mb-0 fw-bold text-danger">@Html.DisplayFor(modelItem => item.Price)</p>
                            </td>

                            <td class="align-middle">@Html.DisplayFor(modelItem =>@item.Offer.Percentage) %</td>
                        }

                    <td class="align-middle">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning m-2"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" onclick="return window.confirm('Etes-vous sûr de vouloir supprimer ?')" class="btn btn-outline-danger m-2"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>