@model IEnumerable<Product>

@{
    ViewData["Title"] = "Liste des produits";
    Layout = "_Layout";
}

<div class="container-fluid container-md">
    <div class="mt-5 mb-5 d-flex flex-row justify-content-between align-items-center">
        <a asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left-circle" style="font-size: 1.5rem; color: green"></i></a>

        <h1 class="me-auto p-2">Liste des produits</h1>

        <div>
            <a class="btn btn-outline-success" asp-area="" asp-controller="Products" asp-action="Add">Ajouter un produit</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Category)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Image)</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th>@Html.DisplayNameFor(model => model.Offer)</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.Title)</td>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.Category)</td>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.Description)</td>
                            <td class="align-middle"><img class="rounded-circle" src="@item.Image" alt="@item.Title" style="max-width: 50px" /></td>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.Price)</td>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.Offer)</td>

                            <td class="d-flex justify-content-end">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning m-2"><i class="bi bi-pencil-square"></i>Modifier</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return window.confirm('Etes-vous sûr de vouloir supprimer ?')" class="btn btn-outline-danger m-2"><i class="bi bi-trash"></i>Supprimer</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="mt-5 mb-5 d-flex flex-row justify-content-between">
    <h1>Liste des produits</h1>

    <div>
        @*<a class="btn btn-outline-success" asp-area="" asp-controller="Product" asp-action="Add">Ajouter un produit</a>*@
    </div>
</div>

<div class="tbl-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> @Html.DisplayNameFor(model => model.Title)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Category)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Description)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Image)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Price)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Title)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">@item.Title</td>

                    <td class="align-middle">@item.Category</td>

                    <td class="align-middle">@item.Description</td>

                    <td class="align-middle"><img style="height:60px;width:80px" src="/Uploads/@item.Image" /></td>

                    @if (@item.Price == 0)
                    {
                    <td class="align-middle">
                    <p>@item.Price €</p>
                    <br>
                    <p class="fw-bold text-danger">@item.Price €</p>
                    </td>

                    <td class="align-middle">@item.Price %</td>
                    } else {
                    <td class="align-middle"> @item.Price €</td>

                    <td class="align-middle">
                    <a href="/Product/Edit?id=@item.Id" class="btn btn-default"><img width="30" height="30" src="https://img.icons8.com/ios/50/discount--v1.png" alt="offer" /></a>
                    </td>
                    }

                    <td class="align-middle">
                    <a href="/Product/Edit?id=@item.Id"><i class="bi bi-pencil-square btn btn-outline-warning"></i></a>
                    <a href="/Product/Delete?id=@item.Id" onclick="return window.confirm('Etes-vous sûr de vouloir supprimer ?')"><i class="bi bi-trash3 btn btn-outline-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-5 d-flex justify-content-start">
        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Index">Retour</a>
    </div>
</div>
